.*.sw*
*.pyc
*.pyo
*.pkl
*~
.DS_Store
MANIFEST
build
dist
docs/sphinx/_build
docs/epydoc/apidocs
docs/apidocs
docs/html
docs/pdf
src

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
