# http://travis-ci.org/#!/jtriley/StarCluster
language: python
python:
    - 2.5
    - 2.6
    - 2.7
install:
    - python setup.py install -q
    - pip install -r requirements.txt --use-mirrors
script:
    - nosetests
