include COPYING
include COPYING.LESSER
include README.rst
include Changelog
include requirements.txt
include *.py
include starcluster/cacerts/cacerts.txt
recursive-include docs *
recursive-include utils *
recursive-include completion *
recursive-include starcluster/templates/web *
