include COPYING
include COPYING.LESSER
include README.rst
include Changelog
exclude requirements.txt
include *.py
include pytest.ini
recursive-include docs *
recursive-exclude docs/sphinx/_build *
recursive-include utils *
recursive-include completion *
recursive-include starcluster/templates/web *
