# core deps
boto==2.9.8
paramiko==1.10.1
workerpool==0.9.2
Jinja2==2.7
decorator==3.4.0
pycrypto==2.6.1
iptools==0.6.1
optcomplete==1.2-devel
# optional deps
ipython==0.13.2 # needed for shell command
# required for git-hooks and check.py
pep8==1.4.6
pyflakes==0.7.3
watchdog==0.6.0
pytest=2.5.1
